.background {
  min-height: 1000px;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%),
    url(../images/eagle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 46px;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx)
  {background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%),
      url(../images/eagle@2x.jpg);}
}