.footer {
  border-top: 1px solid #e5e5e5;
  align-items: center;

  &__content {
    font-size: 14px;
    line-height: 62px;
    color: $font-color-name;
    font-family: $font-family-stack;
    font-weight: 400;
  }

  &__link {
    color: $link-line-color;
    text-decoration: none;
  }
}

.forma {
  display: flex;

  &__email {
    width: 230px;
    background-color: $font-color-white;
    border: 1px solid #e7e7e7;
    padding-left: 12px;
  }

  &__email::placeholder {
    font-size: 15px;
    line-height: 40px;
    font-family: $font-family-descr;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    color: #cccccc;
  }
}
