.services {
  margin-bottom: 92px;
}
  
.sevices__list {
  flex-wrap: wrap;
}
  
.sevices__item {
  display: flex;
  justify-content: flex-start;
  width: 360px;
  margin-bottom: 100px;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:nth-child(3n + 1) {
    margin-left: 30px;
  }

  &::before {
    @include psevdo ($display: block);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
  
.services-content {
  padding-left: 30px;
  width: 340px;
}

$icons: alarm, line_graph, computer, book, home, image;

@include generate-pseudo-icons(
  'services__icon--',
  $icons,
  '../images/icons/',
  'svg'
);
