.title {
  @include center-flex('ver');
  flex-direction: column;
 
  &__top {
    font-size: 24px;
    line-height: 28px;
    color: $font-color-name;
    font-family: $font-family-headline;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__bottom {
    font-size: 30px;
    line-height: 36px;
    color: $font-color-name;
    font-family: $font-family-stack;
    font-weight: 700;
    text-transform: uppercase;
  }

  &::after {
    @include psevdo ($display: block);
    width: 60px;
    height: 3px;
    background-color: $link-line-color;
    margin: 42px auto 0;
  }
}

.services-indent {
  margin-bottom: 64px;
}
