.featured-list-image {
  display: block;
  background-color: #e9f0fd;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.featured {
  display: block;
}

.page_header {
  padding-bottom: 112px;
}

.logo {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation {
  float: left;
  width: 500px;
  background-color: darkkhaki;
}

.site-navigation a {
  font-size: 14px;
  line-height: 11px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 35px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.featured-products,
.news {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.featured-products {
  margin-bottom: 130px;
}

.news {
  margin-bottom: 120px;
}

.featured-list-price {
  float: left;
  /* display: block; */
  background-color: #323232;
  color: #ffffff;
  opacity: 0.439;
  width: 54px;
  /* height: 40px; */
  font-size: 18px;
  line-height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
}

.featured-list-bottom {
  display: block;
}

.featured-list-headline {
  float: left;
  /* display: block; */
  background-color: #323232;
  color: #ffffff;
  width: 201px;
  /* height: 40px; */
  font-size: 18px;
  line-height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  /* text-align: center; */
  text-transform: uppercase;
}

.featured_list {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.featured_list:nth-child(4n) {
  margin-right: 0px;
}

.featured_list:nth-last-child(-n + 4) {
  margin-bottom: 100px;
}

.latest-news-item {
  float: left;
  width: 350px;
  margin-right: 30px;
}

.latest-news-image {
  display: block;
  margin-bottom: 14px;
}

.latest-news-headline {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #555252;
  line-height: 26px;
  margin-bottom: 40px;
}

.latest-news-content {
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 12px;
}

.latest-news-item:nth-child(3n) {
  margin-right: 0px;
}

.Read-more {
  width: 159px;
  height: 51px;
  border-radius: 3px;
  background-color: #4ec6ab;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  margin-bottom: 82px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}
