$font-color-white: #ffffff;
$font-color-name: #333333;
$font-color-descr: #999999;
$hover-color: #fce38a;
$link-line-color: #f38181;
$font-family-stack: "Montserrat", sans-serif;
$font-family-headline: "Kaushan Script", cursive;
$font-family-descr: "Roboto", sans-serif;
